/* Contributors Page */
.circle {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 19px;
	top: 4px;
	border: 1px solid white;
	border-top-right-radius: 0px;
}
.contrib-success {
	ackground-color: green;
}
.contrib-danger {
	background-color: red;
}
.contrib-old {
	background-color: orange;
}
/* End Contributors Page */

span[id*="-downloads"] .dl {
	width: 195px;
	margin-top:3px;
	margin-bottom:-10px;
}

/* Tutorial page */
.tutorial{
	background-color: #F4EC9A;
	padding: 0.5em 0;
}
.warning{
	background-color: #F5A9A9;
	padding: 0.5em 0;
}

body {
	padding-top: 70px;
}
.download {
	text-align: center;
}
.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* FROM TEXT.CSS */
.hr {
	display: block;
	margin: 0.5em 0 0.5em 0;
	border-style: ridge;
	border-width: 2px;
}
.footer {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin: 1em;
}
/* Outdated browser warning look */
.update {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #FFFF75;
	color: #000000;
	padding: 0.5em 0;
}
/* Used for requirements table */
.min-requirements{
}
.rec-requirements{
}
p, tr, td{
	text-align: center;
}
.note-req {
	background-color: #DFE5E9;
	padding: 0.5em 0;
}
/* Contributor */
.contributor {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	float: none;
}
.contributor .thumbnail {
	min-height: 350px;
	display: block;
}
.contributor .thumbnail h3 {
	text-align: center;
}
.contributor .thumbnail p {
	text-align: center;
	height: 20px;
}
.contributor .thumbnail img {
	width: 100%;
}
/* END FROM TEXT.CSS*/