body {
	padding-top: 70px;
}
.download {
	text-align: center;
}
.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* FROM TEXT.CSS */
.hr {
	display: block;
	margin: 0.5em 0 0.5em 0;
	border-style: ridge;
	border-width: 2px;
}
.footer {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin: 1em;
}
/* Outdated browser warning look */
.update {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #FFFF75;
	color: #000000;
	padding: 0.5em 0;
}
/* Used for requirements table */
.min-requirements{
}
.rec-requirements{
}
p, tr, td{
	text-align: center;
}
.note-req {
	background-color: #DFE5E9;
	padding: 0.5em 0;
}
/* Contributor */
.contributor {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	float: none;
}
.contributor .thumbnail {
	min-height: 320px;
	display: block;
}
.contributor .thumbnail h3 {
	text-align: center;
}
.contributor .thumbnail p {
	text-align: center;
	height: 20px;
}
.contributor .thumbnail img {
	width: 100%;
}
/* Mobile Site */
/* END FROM TEXT.CSS*/
