[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygame = "~=1.9.4"
PyOpenGL = "~=3.1.1a1"
PyOpenGL-accelerate = "~=3.1.1a1"
numpy = "~=1.15.0"
Pillow = "~=6.2.0"
cython = "~=0.28.4"
python-xlib = "~=0.14"
ftputil = "~=3.4"
pyClark = "*"

[requires]
python_version = "2.7"
