The following libraries are required to run from source, the number in brackets is what I personally use.

pyopengl >= 3.0.2
numpy
pygame
pyyaml
pywin32 (Windows only)
setuptools (optional)

If you are running Ubuntu (May also apply to Debian) use the following command to install all dependencies:
apt-get install python-opengl python-pygame python-yaml python-numpy

If you are running windows, just google for the installers.

For more detailed instructions for Linux and Mac see readme.md